apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-fastapi
  labels:
    app: app-fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-fastapi
  template:
    metadata:
      labels:
        app: app-fastapi
    spec:
      containers:
        - name: app-fastapi
          image: anabeatriz02/main-python:cbfc96190f425908c636775e6bee9a66d66c37c0
          ports:
          - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: app-fastapi
  labels:
    app: app-fastapi
spec:
  type: NodePort
  selector:
    app: app-fastapi
  ports:
  - name: "app-fastapi-service"
    port: 8080
    targetPort: 80
    nodePort: 30000
    
